/* ------------------------
google fonts 
 -------------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


 :root {
    --orange: hsl(36, 80%, 50%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --black-alpha-40: hsla(0, 0%, 0%, 0.4);
    --yellow-light: hsl(44, 95%, 83%);
    --green-light: hsla(168, 21%, 37%, 0.754);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
   
 }
 
 
 body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
 }
 
 a {
    color: var(--main-color);
    text-decoration: none;
 }
 
 a:hover {
    color: var(--main-color);
 }
 
 ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 
 .btn{ z-index: 2;}
 
 
 /* nav bar  */
 
 .navbar { background-color: var(--main-color) !important;}
 
 .header-logo a {
    padding-left: 30vw;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-70);
 }
 
 .header-logo span {
    color: var(--red-light);
 }
 
 .dropdown-item {
    color: var(--red-light);
 }
 
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  padding: 30px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
 .input-box{
  margin-bottom: 15px;
  /* width: calc(100% / 2 - 20px); */
  width: 300px;
}
span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
input, select{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: var(--red-light);
}

#class { color: gray}

.gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #bf5a13;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, var(--red-light), var(--orange-light));
 }
 form .button input:hover{
  transform: scale(0.9);
  background: linear-gradient(-135deg, var(--orange-light), var(--red-light));
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }


  }


   /* footer */
.footer{
  text-align: center;
  background: var(--body-bg-color);
  color: var(--main-color);
  padding: 2rem 0;
  height: 30vh;
 
}
.footer .text{
  opacity: 0.8;
  text-align: center;
}
.footer-img{ 

left: 0px;
bottom: 0px;
width: 100vw;
opacity: 0.9;
z-index: -10;}

